<footer style="height:auto;background-color: black;">

  <div style="display: inline-block;">
    <span>
  <img src="assets/tree-logoa.jpg" alt="company log error" style="width: 110px;height: 130px;padding-left: 159px;">
    </span>
  
  <div style="display: inline-block;padding-left: 200px;padding-top: 52px;">
    <ul>
      <li>
        <a href=" https://www.w3schools.com/cssref/pr_class_display.asp" style="color:whitesmoke;text-decoration: none;line-height: 33px;font-size: medium;"><i style="padding-right: 10px;" class="fa fa-book"></i>Books</a>
      </li>
      <li><a href=" https://www.w3schools.com/cssref/pr_class_display.asp" style="color:whitesmoke;text-decoration: none;line-height: 33px;font-size: medium;"><i  style="padding-right: 10px;" class="fa fa-building"></i>Books
         </a></li>
      <li> <a href=" https://www.w3schools.com/cssref/pr_class_display.asp"
          style="color:whitesmoke;text-decoration: none;line-height: 33px;font-size: medium;"><i style="padding-right: 10px;" class="fa fa-university" aria-hidden="true"></i>Education Professionals</a></li>
  
      <li><a href=" https://www.w3schools.com/cssref/pr_class_display.asp" style="color:whitesmoke;text-decoration: none;line-height: 33px;font-size: medium;"><i style="padding-right: 10px;" class="fa fa-user"></i>Employers</a></li>
      <li><a href=" https://www.w3schools.com/cssref/pr_class_display.asp"
          style="color:whitesmoke;text-decoration: none;line-height: 20px;font-size: medium;"><i style="padding-right: 10px;" class="fa fa-globe"></i>International</a></li>
    </ul>
  </div>
  
  <div style="display: inline-block;padding-left: 47px;padding-top: 52px;">
    <ul>
      <li>
        <a href=" https://www.w3schools.com/cssref/pr_class_display.asp" style="color: #0077AA;text-decoration: none;font-size: medium;line-height: 33px">Books
          </a>
      </li>
      <li><a href=" https://www.w3schools.com/cssref/pr_class_display.asp" style="color: #0077AA;text-decoration: none;font-size: medium;line-height: 33px">Administrators</a></li>
      <li> <a href=" https://www.w3schools.com/cssref/pr_class_display.asp"
          style="color: #0077AA;text-decoration: none;font-size: medium;">Education Professionals</a>
      <li><a href=" https://www.w3schools.com/cssref/pr_class_display.asp" style="color: #0077AA;text-decoration: none;font-size: medium;line-height: 33px">
          Employers</a></li>
      <li><a href=" https://www.w3schools.com/cssref/pr_class_display.asp"
          style="color: #0077AA;text-decoration: none;font-size: medium;line-height: 20px">International</a></li>
    </ul>
  </div>
  
  <div style="display: inline-block;padding-left: 47px;padding-top: 52px;">
    <ul>
      <li>
        <a href=" https://www.w3schools.com/cssref/pr_class_display.asp" style="color:#0077AA;text-decoration: none;font-size: medium;line-height: 33px">Books</a>
      </li>
      <li><a href=" https://www.w3schools.com/cssref/pr_class_display.asp" style="color:#0077AA;text-decoration: none;font-size: medium;line-height: 33px">Administrators</a></li>
      <li> <a href=" https://www.w3schools.com/cssref/pr_class_display.asp"
          style="color:#0077AA;text-decoration: none;">Education Professionals</a>
      <li><a href=" https://www.w3schools.com/cssref/pr_class_display.asp" style="color:#0077AA;text-decoration: none;font-size: medium;line-height: 33px">
          Employers</a></li>
      <li><a href=" https://www.w3schools.com/cssref/pr_class_display.asp"
          style="color:#0077AA;text-decoration: none;font-size: medium;line-height: 20px">International</a></li>
    </ul>
  </div>
  
  </div>
  
  
  <div style="padding-left: 123px;padding-right: 123px;padding-top: 22px">
    <mat-divider class="material-devider1" ></mat-divider>
  
    <div style="display: inline-block;"> 
      <ul>
        <li>
          <a style="color:#d9d9d9;text-decoration: none;font-size: 13px;">© 2019 by <span>Prem,Inc.</span></a>&nbsp;
          <a href=" https://www.w3schools.com/cssref/pr_class_display.asp"
          style="color: #0077AA;text-decoration: none;">Terms Of Use</a>
        </li>
      </ul>
     
    </div>
    <div style="display: inline-block;">
      <ul>
        <li>
          <a  href="https://www.facebook.com/ " style="color:white;text-decoration: none;font-size: 20px;padding-left: 30px;"><i class="fa fa-facebook-square"></i></a>
          <a  href="https://www.facebook.com/ " style="color:white;text-decoration: none;padding-left: 12px;font-size: 20px;"><i class="fa fa-twitter"></i></a>
          <a  href="https://www.facebook.com/ " style="color:white;text-decoration: none;padding-left: 12px;font-size: 20px;"><i class="fa fa-linkedin-square"></i></a>
          <a  href="https://www.facebook.com/ " style="color:white;text-decoration: none;padding-left: 12px;font-size: 20px;"><i class="fa fa-instagram"></i></a>
          <a  href="https://www.youtube.com/ " style="color:white;text-decoration: none;padding-left: 12px;font-size: 20px;"><i class="fa fa-youtube-play"></i></a>
  
        </li>
      </ul>
    </div>
    <div style="display: inline-block;">
      <ul>
        <li>
          <a href="https://www.w3schools.com/" style="color:#0077AA;text-decoration: none;padding-left: 151px;font-size: 16px;">Privacy Pollicy &nbsp;&nbsp;<span style="color: white;">|</span></a>
          <a href="https://www.w3schools.com/" style="color:#0077AA;text-decoration: none;padding-left: 18px;font-size: 16px;">Books &nbsp;&nbsp;<span style="color: white;">|</span></a>
          <a href="https://www.w3schools.com/" style="color:#0077AA;text-decoration: none;padding-left: 18px;font-size: 16px;">Books &nbsp;&nbsp;<span style="color: white;">|</span></a>
          <a href="https://www.w3schools.com/" style="color:#0077AA;text-decoration: none;padding-left: 18px;font-size: 16px;">Rules &nbsp;&nbsp;<span style="color: white;">|</span></a>
          <a href="https://www.w3schools.com/" style="color:#0077AA;text-decoration: none;padding-left: 18px;font-size: 16px;">Book</a>
  
  
  
          
          
        </li>
      </ul>
    </div>
   
    
  </div>
  
  
  
  <!-- <p>Copyright &copy; 2020 The Golden Roast.</p> -->
  
  
  </footer>
  
  
  
  
     
  
  