.mat-card {
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: 16px;
    border-radius: 4px;
    height:auto;
    margin-top: 40px;
}

.center {
    color: red;
    /* justify-items: center; */
    display: flex;
    /* justify-items: center; */
    justify-content: center;
    padding-top: 209px;
}

.mat-card>:first-child, .mat-card-content>:first-child {
    margin-top: 0;
    margin-left: 286px;
    /* height: 400px; */
}