.example-container {
    width:1522px;
    height: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    background-color:black;
    width:200px;
  };
  .abc{
      background-color:whitesmoke;
  }