.example-card{
    /* max-width: 400px; */
    
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 36px;
    /* padding-top: 54px; */
    margin-bottom: 24px;
    
}

.example-header-image {
    background-image: url('/assets/cart.png');
    background-size: cover;
  }

  img {
    border-radius: 50%;
    height: 35px;
  }

  .container{
    display: flex;
    /* //flex-direction: column; */
    justify-content: flex-end;
    margin: auto;
  }

  .example-card .container i{
    padding-right: 10px;
  }

  .likecolor:active {

    color:blue;
    
  }
  .containerblogtext{
    display: flex;
    /* //flex-direction: column; */
    justify-content: center;
    margin: auto;
    margin-right: 30px;
  }

  .mat-toolbar.mat-primary {
    background: #3f51b5;
    color: #fff;
    height: 83px;
}