
<!-- <div mat-dialog-actions>
    <button mat-button mat-dialog-close><mat-icon>close</mat-icon></button>
  </div> -->
  
  <!-- <div>
    <app-training [result]="products"></app-training>
  </div> -->
  <div >
    <h1 style="font-weight: 550;">Delete Training Event</h1>
  <form class="example-form" [formGroup]="addnewtrainingform" (ngSubmit)="onDelete()" >

    <mat-form-field class="example-full-width">
      <mat-label>Training Event Name<span style="color:red">*</span></mat-label>
      <input matInput placeholder="Enter" formControlName="trainingeventname"/>
      <!-- <mat-error
        class="errorMsg"
        *ngIf="addnewtrainingform.controls.trainingeventname.errors?.required"
        >Training Event Name</mat-error>-->
      
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Training Center<span style="color:red">*</span></mat-label>
        <select matNativeControl formControlName="trainingcenter">
          <option label="--select something --"></option>
          <option *ngFor="let trainingcenter of trainingcenters" [value]="trainingcenter">{{trainingcenter}}</option>
        </select>
      </mat-form-field>
 <!-- datepicker-->
      <mat-form-field color="primary" style="width:280px;">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="startdate">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
     <!--datepicker-->
      <mat-form-field color="primary" style="width: 273px;" >
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="enddate" > 
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>
      <!--datepicker-->
      <mat-form-field color="primary"  style="width:280px;" >
        <mat-label> Registration Start Date</mat-label>
        <input matInput [matDatepicker]="picker3" formControlName="datepicker3">
        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
      </mat-form-field>
     <!--datepicker-->
      <mat-form-field color="primary" style="width: 273px;">
        <mat-label>Registration End Date</mat-label>
        <input matInput [matDatepicker]="picker4" formControlName="datepicker4">
        <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
        <mat-datepicker #picker4 color="primary"></mat-datepicker>
      </mat-form-field>
      <!--save and cancel button-->
      <mat-dialog-actions align="start">
        <button mat-raised-button type="submit"  color="primary" [disabled]="!addnewtrainingform.valid">Delete</button>
        <button mat-raised-button mat-dialog-close color="accent">Cancel</button>
      </mat-dialog-actions>
     
  </form>
  
</div>


